.page-adm #titulo-adm {
    width: 100%;
    background-color: #008F95;
    color: #fff;


    height: 153px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*! font-size: 80px; */
}

.section-table-adm {
    width: 100%;
}

.div-table-adm {
    border: 1px solid rgb(226 226 226);
    border-radius: 20px;
    margin: 63px 26px;

}

.div-table-adm table {
    max-height:506px;
    overflow-y:auto;
    /*! max-width: 991px; */

}


section .div-table-adm {
    padding: 19px;
} 


.page-adm #titulo-adm h1{
    font-size: 3.8rem;
    font-weight: bold;
}



.page-adm section h2 {
    color: #fff;
    font-weight: 800;
    text-align: center;
    margin-top: 44px;
}

.page-adm section hr {
    background-color: #fff;
    width: 80%;
    margin-left: 22px;
}

.page-adm {
    background: var(--color-box-base);
    padding: 2rem;
    height: 973px;
    /*! border-radius: 0px 0px 10px 10px; */
}

.page-adm aside {
    height: 769px;
    width: 274px;
    background-color: #E24E42;
}

.section-titulo-adm {
    height: 153px;
}



  


