.main-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-login section {
    height: 425px;
}

.form-login fieldset{
    width: 121%;
    padding: 32px;
    /* margin: 100px; */
    background-color: white;
    /* margin: 100px 0px; */
    position: relative;
    bottom: 106px;
    border-radius: 10px;
}

.form-login fieldset h2 {
    color: #7c7c7d;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.form-login fieldset imput {
    margin-bottom: 10px;
}

